@using Demo.Fagsystem.Pages.Partial
@{
    string selectedKlientCss = "";
    string jsSelectedKlientFunc = "";
}
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DBV2 demo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    @await Html.PartialAsync("/Pages/Partial/ScenarioSelector.cshtml", new ScenarioSelectorModel(this.Context.Request))
                    @await Html.PartialAsync("/Pages/Partial/SakSelector.cshtml", new SakSelectorModel(this.Context.Request))
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button class="nav-link text-dark" onclick="postForm('/Organisasjon')">Organisasjon</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link text-dark @selectedKlientCss" onclick="@jsSelectedKlientFunc ('/Klient')">Sak/Klient</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link text-dark @selectedKlientCss" onclick="@jsSelectedKlientFunc ('/MeldingListe')">Liste</button>
                        </li>
                            <li class="nav-item">
                                <button class="nav-link text-dark @selectedKlientCss" onclick="@jsSelectedKlientFunc ('/Melding')">Ny melding</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link text-dark" onclick="openInNewTab('/XsdOversikt')">XSD oversikt</button>
                            </li>
                        </ul>
                </div>
                    <a class="navbar-brand" asp-area="" asp-page="/Issues">  Om/Status</a>
                </div>
        </nav>
